.kpi-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  transition: border 0.3s ease;
  min-width: 170px; 
  width: fit-content; /* Card will grow to fit the content */
  max-width: 100%; /* Prevents the card from exceeding the width of its container */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon-top-right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 16px;
  right: 16px;
}

.kpi-name-container {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 4px;
}

/* .kpi-card:hover {
  border: 2px solid blue;
} */

.kpi-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; /* Container for absolute positioning of children */
}

.kpi-icon {
  margin-left: auto; 
  font-size: 24px;
  color: #333;
}

.tooltip {
  display: none; /* default state */
  position: absolute;
  background-color: darkblue;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  top: 10px; 
  left: 60%;
  transform: translateX(-50%); /* Center above the icon */
  z-index: 10;
}

.info-icon:hover + .tooltip, .tooltip:hover {
  display: block;
}

.kpi-name {
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #333;
  overflow: hidden; /* Ensures text doesn't overflow */
  text-overflow: ellipsis; /* Adds an ellipsis if text overflows */
  white-space: nowrap; /* Keeps text on one line */
}

.kpi-value {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trend-image {
  width: auto;
  height: 50px;
  max-width: 100%;
  object-fit: contain;
  margin-right: 4px;
}